<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>What's for Lunch?</title>
  <link rel="stylesheet" type="text/css" href="/pure.css">
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
  <%= erb :header %>

  <div class="pure-g">
    <div class="pure-u-1-8"></div>

    <div class="pure-u-3-4">
      <%= yield %>
    </div>

    <div class="pure-u-1-8"></div>
  </div>
</body>
</html>
