.header .pure-menu {
  background: black;
  border-radius: 0;
}

.home-menu .pure-menu-heading {
  color: white;
}

.home-menu .pure-menu-selected a {
  color: white;
}

.home-menu a {
  color: #6FBEF3;
}

.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
  border: none;
  color: #AECFE5;
}
